body{
  background-image: url("img/10402374_273383332844825_301377105096986399_n.jpg");

}
h1{
  color: lavenderblush;
  text-align: center;
}
p{
  color: cyan;
  alignment: center;
  text-align: center;
}
